<div class="container">
  <div class="row">
<!--    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">-->
    <div class="col">
      <div class="card border-0 shadow rounded-3 card-margin">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title mb-5 fw-light fs-5">Trading Partner Search</h5>
          <form (ngSubmit)="onSearch()" #tpSearchForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-floating mb-3">
                  <input type="text"
                         class="form-control form-control-sm"
                         id="tpId"
                         name="tpId"
                         placeholder="CN223806"
                         required
                         ngModel
                         #tpId="ngModel"
                  >
                  <label for="tpId">Trading Partner Id</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="state"
                    name="state"
                    placeholder="State"
                    required
                    ngModel
                    #state="ngModel"
                  >
                  <label for="state">State</label>
                </div>
              </div>
            </div>
<!--            <div class="d-grid">-->
<!--              <button class="btn btn-primary btn-login text-uppercase fw-bold"-->
<!--                      type="submit"-->
<!--              >Search</button>-->
<!--            </div>-->
            <div class="col-md-12">
              <button type="submit"
                      class="btn btn-primary fw-bold" style="margin-right: 1%">Search</button>
              <button type="button" class="btn btn-secondary" style="margin-right: 1%">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

