<section id="testimonials">
  <div class="container">
    <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>The new companion guide for the state of Florida is released.</h2>
          <button type="button" class="btn btn-primary btn-lg">Learn More</button>
          <!--          <img class="testimonial-img" src="assets/images/dog-img.jpg" alt="dog-profile">-->
          <!--          <em>Pebbles, New York</em>-->
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">We've got some exciting new features added to the portal.</h2>
          <button type="button" class="btn btn-primary btn-lg">Learn More</button>
          <!--          <img class="testimonial-img" src="assets/images/lady-img.jpg" alt="lady-profile">-->
          <!--          <em>Beverly, Illinois</em>-->
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</section>
